<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo_pagina or 'Controle de Acesso - Sicredi' }}</title>
    
    <!-- Importação do Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Importação da fonte 'Inter' do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Importação do arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Analista/AcessoAmbientes/style.css') }}">

</head>
<body>

    <!-- linkagem do header -->
    {% include 'Analista/AcessoAmbientes/header.html' %}

    <!-- linkagem dos modais -->
    {% include 'Analista/AcessoAmbientes/modals.html' %}

    <!-- O conteúdo da página virá aqui -->
    <main class="p-4 sm:p-6 lg:p-8">
        {% block conteudo %}
        <h1 class="text-2xl font-bold text-gray-800 mb-6">{{ titulo_conteudo or 'Controle de Acesso a Ambientes' }}</h1>
        <!-- linkagen  da section de salas com acesso -->
        {% include 'Analista/AcessoAmbientes/section_salaAcessoYes.html' %}
        <!-- linkagen  da section de salas sem acesso -->
        {% include 'Analista/AcessoAmbientes/section_salaAcessoNo.html' %}
        {% endblock %}
    </main>

    <!-- ========== SCRIPTS EM LINKAGEM FLASK ========== -->
    <script src="{{ url_for('static', filename='js/Analista/AcessoAmbientes/script.js') }}"></script>

</body>
</html>
