<!-- rota do template /gestao_equipamentos/gestor/reservas_mobilizados/reservas.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo_pagina or 'Gerenciamento de Reservas - Sicredi' }}</title>
    
    <!-- Importação do Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Importação da fonte 'Inter' do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Gestor/GerenciarReservas/style.css') }}">

</head>
<body>

    <!-- link para o header -->
    {% include 'Gestor/GerenciarReservas/header.html' %}

    <!-- link para os modals -->
    {% include 'Gestor/GerenciarReservas/modals.html' %}

    

    <!-- O conteúdo da página virá aqui -->
    <main class="p-4 sm:p-6 lg:p-8">
        {% block conteudo %}
        <!-- link para a section titulo -->
        {% include 'Gestor/GerenciarReservas/section_titulo.html' %}
        <!-- link para a section lista de reservas -->
        {% include 'Gestor/GerenciarReservas/section_listaReservas.html' %}
        {% endblock %}
    </main>

    <!-- link para o js -->
    <script src="{{ url_for('static', filename='js/Gestor/GerenciarReservas/script.js') }}"></script>

</body>
</html>
