<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo_pagina or 'Gerenciamento de Analistas - Sicredi' }}</title>
    
    <!-- Importação do Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Importação da fonte 'Inter' do Google Fonts -->
    <!-- FontAwesome CDN para ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Importação do arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gerenciar_analistas/style.css') }}">
    
</head>
<body>

        <!-- link para o header -->
        {% include 'gerenciar_analistas/header.html' %}

        <!-- link para os modals -->
        {% include 'gerenciar_analistas/modals.html' %}

        

    <!-- O conteúdo da página virá aqui -->
    <main class="p-4 sm:p-6 lg:p-8">
        {% block conteudo %}
        <!-- link para a section de título -->
        {% include 'gerenciar_analistas/section_titulo.html' %}
        <!-- link para a section de lista de analistas -->
        {% include 'gerenciar_analistas/section_listaAnalistas.html' %}
        {% endblock %}
    </main>

    <!-- link para o js -->
    <script src="{{ url_for('static', filename='js/gerenciar_analistas/script.js') }}"></script>

</body>
</html>
